*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
button {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.2rem;
  cursor: pointer;
}
.normal {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.2rem;
  font-size: 12px;
}
